.Header{
    margin-bottom: 10px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.Left-portion{
    justify-content: left;
    background-color: lightblue;
    width: 180px;
}

.Middle-portion{
    justify-content: center;
    background-color: lightpink;
    flex: 1;
    margin-left: 70px;
    margin-right: 60px;
    max-width: 300px;
}

.Right-portion{
    justify-content: right;
    background-color: lightgreen;
    width: 160px;
}



body{
    margin: 0px;
}

.Main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 15px;
    row-gap: 40px;
}

.Cat{
    width: 100%;
}

.Icon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.Info-portion{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
    margin-top: 8px;
}

p{
    margin: 0px;
}

.Title{
    margin-bottom: 10px;
}

.Title1{
    font-weight: bold;
    font-size: 18px;
}

.M-text{
    margin-bottom: 5px;
}

.M-text1,.L-text1{
    color: rgb(96,96,96);
    font-size: 14px;
}